# Node modules
node_modules/

# Build artifacts
*.zip
.DS_Store

# IDE configurations
.idea/

# Environment variables
.env.local
.env*
.env

# Other
notes.md
/uploads/
*.pdf

# Temporary files
*.tmp
*.temp
