.custom-sidebar {
  position: relative;
  width: 250px;
  height: 100vh; 
  background-color: white;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Add background-color transition */

  /* Adjustments for mobile */
  @media screen and (max-width: 768px) {
      width: 70%;
      transform: translateX(-100%); 
      z-index: 999; 
      position: fixed; 
      top: 0; 
      left: 0;
      position: absolute;
  }
}

.sidebar-open {
  transform: translateX(0); /* Show the sidebar when opened */
}

.menu-item-container {
  padding: 10px;
  border-radius: 10px;
  color: #566a7f;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease; /* Add background-color transition */
}

.selected {
  color: #1677FF;
  background-color: #d0e4ff;
}
